<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="description" content="Boilerplate gulp-4"/>
    <meta name="author" content="ramagenoisia@gmail.com"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon/favicon.ico">

    <link rel="stylesheet" href="assets/styles/main.min.css">
 
    <title>{{ title }}</title>
 
</head>
<body>
{% block page %}{% endblock %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/svg4everybody/2.1.9/svg4everybody.legacy.min.js"></script>
<script src="assets/js/app.min.js"></script>

</body>
</html>