{# index.twig #}

{% set title = 'about-page' %}

{% extends "base/base.twig" %}

{% block page %}

{% include ('components/header.twig') %}

<main class="page-content">

    <h1>This is About.twig</h1>
        
</main>

{% include ('components/footer.twig') %}

{% endblock %}