{% set title = 'index-page' %}
{% extends "base/base.twig" %}
{% block page %}
{% include ('components/header.twig') %}
<main class="page-content">
    <svg class='svg-payment-icon'><use xlink:href='assets/images/svgicons/sprite.svg#payment'/></svg>
    <svg class='svg-paymentblue-icon'><use xlink:href='assets/images/svgicons/sprite.svg#paymentblue'/></svg>

    <svg class='svg-wishlist-icon'><use xlink:href='assets/images/svgicons/sprite.svg#wishlist'/></svg>

</main>

{% include ('components/footer.twig') %}


{% endblock %}