{# index.twig #}

{% set title = 'index-page' %}

{% extends "base/base.twig" %}

{% block page %}

{% include ('components/header.twig') %}

<main class="page-content">

    <h1>This is index.twig</h1>

    <div class="anim"></div>

    <i class="svg-001-facebook-letter-logo"></i> 

    <i class="icon-left-arrow"></i>
    <i class="icon-circle-small"></i>
    <i class="icon-logo"></i>
    <i class="icon-question"></i>
    <i class="icon-take-photo-face"></i>
    <i class="icon-triangle"></i>
    <i class="icon-twitter"></i>
    <i class="icon-close-card"></i>
    <i class="icon-enable-webcam"></i>
    <i class="icon-edit-button"></i>

    <hr>

    <i class="icon-png-model2"></i>
    <i class="icon-png-smile"></i>
    <i class="icon-png-online"></i>

    <img src="assets/images/pictures/380351-PCW7EE-253.jpg" alt="img">

        
</main>

{% include ('components/footer.twig') %}

{% endblock %}