{%  set               
    menuLinks = [
        'home',
        'about',
        'contact',
        'services'
    ] 

%}

<header class="page-header">
    <h2>This is header component</h2>
    <ul>
        {% for value in menuLinks %}
        <li><a href="javascript:void(0)">{{ value }}</a></li>
        {% endfor %}
    </ul>
</header>